<div class="opa-media-container" ng-class="{'empty': !ctrl.opaMedia}" ng-click="ctrl.onClick()">
  <img class="preview" ng-if-start="ctrl.opaMedia" ng-src="{{ ctrl.opaMedia.preview }}">
  <div class="overlay"></div>
  <md-button class="remove-btn md-icon-button" ng-click="ctrl.onRemove($event)">
    <md-icon aria-label="{{ 'MEDIA_CONTAINER.REMOVE' | opaTranslate }}">close</md-icon>
  </md-button>
  <div ng-if-end class="media-info" layout="column" layout-align="end none">
    <md-truncate class="media-title" ng-bind="ctrl.opaMedia.title"></md-truncate>
    <span class="media-date" ng-bind="ctrl.opaMedia.date | date: 'mediumDate'"></span>
  </div>
  <span class="title" ng-bind="ctrl.opaTitle"></span>
</div>
