<div class="opa-search-settings" layout="column" flex>
  <form name="opaSearchSettings">

    <!-- Title -->
    <div layout="row" layout-align="start center" flex="none">
      <h2 class="md-title" ng-bind="'SETTINGS.SEARCH.TITLE' | opaTranslate"></h2>
      <opa-info-button
                       opa-message="'SETTINGS.SEARCH.INFO' | opaTranslate"
                       opa-accessibility="{{'SETTINGS.SEARCH.INFO_BUTTON_DESCRIPTION' | opaTranslate}}"
                       opa-help="{{'SETTINGS.SEARCH.INFO_BUTTON_TOOLTIP' | opaTranslate}}"
      ></opa-info-button>
    </div>

    <!-- Points of interest -->
    <md-checkbox
                 ng-model="$ctrl.settings.pois"
                 ng-change="$ctrl.callUpdate();"
                 aria-label="{{'SETTINGS.SEARCH.POIS_DESCRIPTION' | opaTranslate}}"
                 class="md-primary"
                 flex="none"
    >
      <span ng-bind="'SETTINGS.SEARCH.POIS_LABEL' | opaTranslate"></span>
    </md-checkbox>

  </form>
</div>
