<md-dialog>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="video.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-tooltip md-direction="left">{{'UI.CLOSE' | translate}}</md-tooltip>
          <md-icon material-icons md-light md-48>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        
        <div class="">
          <ov-player
           ov-player-type="{{video.type}}"
           ov-data="video"
           ov-language="{{language}}"
           id="openveo-player"
          ></ov-player>
        </div>
 
        <div layout-margin layout="row"  layout-align="space-between center">
          <div  flex layout="column" layout-align="center start">
            <div layout="row" layout-align="center center">
              <md-icon material-icons md-light md-48>today</md-icon>
              <div>{{video.date  | date : 'd MMMM yyyy'}}</div>
            </div>
            <div  layout="row" layout-align="center center">
              <md-icon  material-icons md-light md-48>visibility</md-icon>
              <div >{{video.views}}</div>
            </div>
          </div>
          <md-button class="md-fab" ng-class="{'md-primary': shareClosed}" layout="row" ng-click="share(video)">
              <md-tooltip md-direction="left">{{shareClosed ? 'UI.SHARE' : 'UI.CLOSE' | translate}}</md-tooltip>
              <md-icon  material-icons md-light md-32>{{shareClosed ? 'share' : 'close' | translate}}</md-icon>
          </md-button>
        </div>
        <md-divider ></md-divider>
        
        <md-content layout-margin class="collapse" layout='row' layout-align="space-between center">
          <div flex> <span ng-bind="'SEARCH.TITLE' | translate"></span>: {{video.title}}</div>
          <div flex> <span ng-bind="'SEARCH.NAME' | translate"></span>: {{video.speaker}}</div>
          <div flex> <span ng-bind="'SEARCH.CATEGORY' | translate"></span>: {{video.category}}</div>
        </md-content>
       
        <div ng-hide="shareClosed"  layout='row' layout-margin class="sharecode collapse">
          <p>HTML Code : </p><br>
          <p><code>{{shareCode}}</code></p> 
        </div>
        
        <md-divider ></md-divider>
        <p>{{video.description}}</p>
        
      </div>
    </md-dialog-content>
</md-dialog>