<div ng-cloak>
  <div layout-xs="column" layout-gt-xs="row">
    <h1 class="md-headline" hide-gt-xs ng-bind="'VIDEOS.TITLE'|translate"></h1>
    <h1 class="md-display-1" hide-xs ng-bind="'VIDEOS.TITLE'|translate"></h1>
    <span flex></span>
    
    <form ng-submit="searchSubmit()" name="userForm" layout="row" layout-align="center center" 
          flex-xs="95"
          flex-sm="50"
          flex-md="32"
          flex-gt-md="30">
      <md-input-container flex="80">
        <label ng-bind="'SEARCH.KEYWORD'|translate"></label>
        <input ng-model="search.key">
      </md-input-container>
     
      <md-button type="submit" id="submit" class="md-icon-button">
          <md-tooltip md-direction="top">{{'UI.SEARCH' | translate}}</md-tooltip>
          <md-icon material-icons md-light md-48">search</md-icon>
      </md-button>
    </form>
  </div>
  
  <div layout="column" md-whiteframe="1">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding" ng-bind=" 'SEARCH.ADVANCED' | translate "></h3>
          <span flex></span>
          <md-button  type="button" ng-click="showAdvancedSearch = !showAdvancedSearch">
            <md-icon material-icons md-light md-48 ng-class="{reverse: showAdvancedSearch}">keyboard_arrow_down</md-icon>
          </md-button>
        </div>
    </md-toolbar>
    <div layout="column" ng-show='showAdvancedSearch' class='collapse'>
      <form ng-submit="searchSubmit()" name="searchForm" layout="column" >
        <div layout="row" layout-xs="column" >
          <div flex-xs="100" flex-gt-xs='50'  layout="row" layout-xs="column" layout-align='left center'  layout-margin>
            <label flex='30' ng-bind="'UI.DATE_BETWEEN'|translate"></label>
            <md-datepicker flex-gt-xs='70' flex-xs="100" ng-model="search.startDate" md-placeholder=""></md-datepicker>
          </div>
          <div flex-xs="100" flex-gt-xs='50' layout="row" layout-xs="column" layout-align='left center'  layout-margin>
            <label flex='20' ng-bind="'UI.AND'|translate"></label>
            <md-datepicker flex-gt-xs='80' flex-xs="100" ng-model="search.endDate" md-placeholder=""></md-datepicker> 
          </div>
        </div>
        <div layout="row" layout-xs="column">
          <div layout="column" flex-xs="100" flex-gt-xs="50" layout-margin>
            <md-input-container>
              <label ng-bind="'SEARCH.NAME'|translate"></label>
              <md-select ng-model="search.name">
                <md-option ng-repeat="name in filters.names" value="{{name.id}}">
                  {{name.label}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label ng-bind="'SEARCH.CATEGORY'|translate"></label>
              <md-select ng-model="search.categorie">
                <md-option ng-repeat="categorie in filters.categories" value="{{categorie.id}}">
                  {{categorie.label}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="column" flex-xs="100" flex-gt-xs="50"  layout-margin>
            <md-input-container>
              <label ng-bind="'SEARCH.ORIGIN'|translate"></label>
              <md-select ng-model="search.origin">
                <md-option ng-repeat="origin in filters.origins" value="{{origin.id}}">
                  {{origin.label}}
                </md-option>
              </md-select>
            </md-input-container>
            <div layout="row" layout="column" layout-align="center center" >
              <md-button type="submit" id="submit" class="md-primary md-fab" >
                <md-tooltip md-direction="left">{{'UI.SEARCH' | translate}}</md-tooltip>
                <md-icon material-icons md-light md-48>search</md-icon>
              </md-button>
              <md-button ng-click="resetSearch()" class="md-secondary md-fab" >
                <md-tooltip md-direction="right">{{'UI.CANCEL' | translate}}</md-tooltip>
                <md-icon material-icons md-light md-48>close</md-icon>
              </md-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div layout-xs='column' layout="row" layout-align="space-between center" layout-margin>
    <div layout='row'  flex-xs='100' flex-gt-xs="66" layout-align="space-between center">
      <div class="md-body-2" flex-xs="50" flex-sm="25" flex-gt-sm="15" >
        <span ng-bind="pagination.size"></span> <span ng-bind=" 'SEARCH.RESULTS' | translate"></span>
      </div>
      <div ng-if="pagination.size>1" flex-xs="50" flex-gt-xs="auto" class="orderBy" layout='row' layout-align="center center">
        <span hide-xs hide-sm flex=20 ng-bind="'SEARCH.ORDER_BY' | translate"></span>
        <md-switch class="md-primary" md-no-ink ng-model="search.orderBy"  
                  ng-change="orderOnChange()"
        >
          <md-icon material-icons md-light md-48 ng-bind="search.orderBy?'visibility':'access_time'"></md-icon>

        </md-switch>
        <md-switch class="md-primary" md-no-ink ng-model="search.orderAsc"  
                  ng-change="orderOnChange()"
        > 
          <md-icon material-icons md-light md-48 ng-class="{reverse: search.orderAsc}">sort</md-icon>
        </md-switch>

      </div>
    </div>
    <div flex-xs='100' flex-gt-xs="33">
      <md-tabs  ng-if="pages.length > 1" md-border-bottom md-autoselect md-selected="pagination.page"  >
        <md-tab ng-repeat="page in pages" label="{{page}}"></md-tab>
      </md-tabs>
    </div>
  </div>
  
  <md-grid-list ng-if="videos.length > 1" 
        md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3"
        md-row-height="16:9"
        md-gutter="12px" md-gutter-gt-sm="25px" 
        layout-margin>
    <md-grid-tile ng-repeat="video in videos" layout="column" ng-click="openVideo($event, video)" >
      <div class='thumbnail' flex>
        <img ng-src="{{video.thumbnail}}">
      </div>
      
      <md-grid-tile-footer >
        <div class='md-title' flex>{{video.title}}</div>
        <div flex layout="row" layout-align="center center">
          <div class='md-body-2' flex>{{video.date | date : 'd MMMM yyyy'}}</div>
          <div class='md-caption nb-views' flex='30'>{{video.views}} <span ng-bind=" 'UI.VIEWS'|translate"></span></div>
        </div>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  <md-content ng-if="videos.length==0" layout-margin layout-padding>
      <p flex ng-bind="'SEARCH.NO_RESULTS'|translate"></p>
  </md-content>
  
  <div layout="row" layout-align="center end" ng-if="pages.length > 1">
    <div flex-xs="100" flex-sm="50" flex-gt-sm="33" layout="column" class="pagination">
        <md-tabs  md-border-bottom md-autoselect md-selected="pagination.page">
          <md-tab ng-repeat="page in pages" label="{{page}}" ></md-tab>
        </md-tabs>
    </div>
  </div>
</div>

