<!DOCTYPE html>
{{=[[ ]]=}}
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <style>
      html {height: 100%;}
      body {height: 100%; margin: 0;}
      iframe, #wowza-player {border: 0; position: absolute; height: 100%; width: 100%;}
      .op-live-player {overflow: hidden; height: 100%;}
      .op-live-player > div {position: relative; overflow: hidden; height: 0; padding-bottom: 56.25%;}
    </style>

    <script>
      var languages = [ [[& languages]] ];
      var liveSettings = [[& live]];
      var error = [[error]];
      var theme = '[[theme]]';
      var languageCode = (navigator.language || navigator.browserLanguage).split('-')[0];
      var translations;

      document.addEventListener('DOMContentLoaded', function(event) {
        if (liveSettings.playerType === 'wowza') {
          WowzaPlayer.create('wowza-player',
              {
                license: liveSettings.wowza.playerLicenseKey,
                sourceURL: liveSettings.url + '?DVR',
                autoPlay: true,
                volume: '100',
                mute: false,
                loop: false,
                audioOnly: false,
                uiShowQuickRewind: true,
                uiShowBitrateSelector: true,
                uiQuickRewindSeconds: '30',
                stringAuto: translations['AUTO'],
                stringBuffering: translations['BUFFERING'],
                stringCountdownTimerLabel: translations['COUNT_DOWN'],
                stringErrorStreamUnavailable: translations['STREAM_ERROR'],
                stringErrorCORSStreamUnavailable: translations['CORS_ERROR'],
                stringLiveLabel: translations['LIVE_BUTTON'],
                stringLiveEventEnded: translations['LIVE_ENDED'],
                stringLiveSeekAlt: translations['LIVE_BUTTON_OVER']
              }
          );
        }
      });

      if (liveSettings.playerType === 'wowza') {
        languageCode = languages.indexOf(languageCode) > -1 ? languageCode : languages[0];
        document.write('\x3Cscript type="text/javascript" src="/lib/wowza-player/wowzaplayer.min.js">\x3C/script>');
        document.write('\x3Cscript type="text/javascript" src="/themes/[[theme]]/i18n/openveo-portal-live-wowza-locale_' + languageCode + '.js">\x3C/script>');
      }
    </script>

  </head>

  <body>
    <div class="op-live-player">
      <div>
        <script>
          if (liveSettings.playerType === 'youtube') {
            var urlChunks = liveSettings.url.match(/v=(.*)$/);

            if (urlChunks.length === 2)
              document.write('\x3Ciframe src="https://www.youtube.com/embed/' + urlChunks[1] + '" frameboarder="0" gesture="media" allow="encrypted-media" allowfullscreen>\x3C/iframe>');
          } else
            document.write('\x3Cdiv id="wowza-player">\x3C/div>');
        </script>
      </div>
    </div>
  </body>
</html>
