<!DOCTYPE html>
{{=[[ ]]=}}
<html ng-app="ov.portal" ng-controller="MainController" ng-strict-di ng-init="theme = '[[theme]]'">
  <head>
    <title ng-bind="title | translate"></title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    [[#css]]
    <link rel="stylesheet" type="text/css" href="[[.]]">
    [[/css]]

    <script>
      var languages = [ [[& languages]] ];
      var ovPlayerDirectory = "/lib/openveo-player/";
    </script>
  </head>

  <body ng-cloak>
    <header ng-if="!isIframe" >
      <div class="container">
        <div layout="row" layout-align="space-between center" layout-padding>
          <a ng-href="/" aria-label="{{'MENU.HOME'|translate}}">
            <img ng-src="/themes/{{theme}}/images/logo.png">
          </a>
          [[#user]]
          <div layout="row" hide-xs layout-align="end center">
            <label><span ng-bind="'UI.HELLO'|translate"></span> [[user]]</label>
            <md-button  class='md-raised md-primary text-button'
                       href="/logout" target="_self"
                       aria-label="{{'UI.LOGOUT'|translate}}"
                       ng-bind="'UI.LOGOUT'|translate"
                       analytics-on='click' analytics-event="Logout"
                       ></md-button>
          </div>
          [[/user]]
          [[^user]]
          <md-button hide-xs class='md-raised md-primary text-button' 
                     href="/authenticate" target="_self" 
                     aria-label="{{'UI.LOGIN'|translate}}"
                     ng-bind="'UI.LOGIN'|translate"
                     analytics-on='click' analytics-event="Login"
                     ></md-button>
          [[/user]]
        </div>
      </div>

      <div layout="column" layout-fill>
        <md-toolbar md-theme="inverse" class="navbar-background" md-scroll-shrink hide-xs >
        <md-tabs md-theme="inverse" class="md-primary container navbar"  md-autoselect='false'>
          <md-tab id="tab1" 
            md-active="path=='/'"
            md-on-select="onTabSelected('/')"
            aria-label="{{'MENU.HOME'|translate}}">
            <md-tab-label>{{'MENU.HOME'|translate}}</md-tab-label>
          </md-tab>
          <md-tab id="tab2" 
            md-active="path=='/search'" 
            md-on-select="onTabSelected('/search')" 
            aria-label="{{'MENU.ALL_VIDEOS'|translate}}">
            <md-tab-label>{{'MENU.ALL_VIDEOS'|translate}}</md-tab-label>
          </md-tab>
        </md-tabs>
        </md-toolbar >

        <md-toolbar md-theme="inverse" hide-gt-xs>
          <div class="md-toolbar-tools">
            <md-menu>
            <!-- Trigger element is a md-button with an icon -->
              <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                <md-icon material-icons md-light md-48>menu</md-icon>
              </md-button>
              <md-menu-content width="12">
                <md-menu-item><md-button ng-href="/"
                                        aria-label="{{'MENU.HOME'|translate}}"
                                        ng-bind="'MENU.HOME'|translate"></md-button></md-menu-item>
                <md-menu-item><md-button ng-href="/search"
                                        aria-label="{{'MENU.ALL_VIDEOS'|translate}}"
                                        ng-bind="'MENU.ALL_VIDEOS'|translate"></md-button></md-menu-item>
              </md-menu-content>
            </md-menu>
            <span flex></span>
           [[#user]]
          <div layout="row" layout-align="end center">
            <label class="md-caption" ><span ng-bind="'UI.HELLO'|translate"></span> [[user]]</label>
            <md-button class ='md-raised md-accent text-button'
                       href="/logout" target="_self"
                       aria-label="{{'UI.LOGOUT'|translate}}"
                       ng-bind="'UI.LOGOUT'|translate"
                       analytics-on='click' analytics-event="Logout"
                       ></md-button>
          </div>
          [[/user]]
          [[^user]]
          <md-button class='md-raised md-accent text-button' 
                     href="/authenticate" target="_self" 
                     aria-label="{{'UI.LOGIN'|translate}}"
                     ng-bind="'UI.LOGIN'|translate"
                     analytics-on='click' analytics-event="Login"
                     ></md-button>
          [[/user]]
          </div>
        </md-toolbar>
      </div>
    </header>

    <div ng-if="!isIframe" show-xs hide-gt-xs class="header-spacing"></div>

    <div layout="column" class="zero">
      <div class="container">
        <div ng-view ng-cloak></div>
      </div>
    </div>
    <div ng-if="!isIframe && links" class="footer-spacing"></div>

    <footer md-theme="inverse" ng-if="!isIframe && links" class="footer">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <div class='container'>
              <div layout="row" layout-align="center center">
                <md-button 
                ng-repeat="(key, value) in links"
                ng-href="{{value}}" target="_blank" 
                aria-label="{{'LINKS.'+key|translate}}"
                ng-bind="'LINKS.'+ key|translate"
                analytics-on='click' analytics-event="{{key}}"
                ></md-button> 
              </div>
            </div>
          </div>
        </md-toolbar>
    </footer>

    [[#librariesScripts]]
    <script type="text/javascript" src="[[.]]"></script>
    [[/librariesScripts]]

    <script>
      var languageCode = navigator.language || navigator.browserLanguage;
      languageCode = languages.indexOf(languageCode) > -1 ? languageCode : languages[0];
      document.write('\x3Cscript type="text/javascript" src="/lib/angular-i18n/angular-locale_' + languageCode + '.js">\x3C/script>');
      document.write('\x3Cscript type="text/javascript" src="/themes/[[theme]]/i18n/openveo-portal-locale_' + languageCode + '.js">\x3C/script>');
      document.write('\x3Cscript type="text/javascript" src="/themes/[[theme]]/conf.js">\x3C/script>');
      videojs.options.flash.swf = "/lib/openveo-player/lib/video.js/dist/video-js.swf";
    </script>
   
    [[#scripts]]
    <script type="text/javascript" src="[[.]]"></script>
    [[/scripts]]

    [[{analytics}]]
  </body>
  [[={{ }}=]]
</html>
