# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# NPM dependencies
/node_modules

# IDE
nbproject/
.idea/

# Logs
*.log

# Build
/build
/assets/be/*
!/assets/be/js/
/assets/be/js/*
!/assets/be/js/i18n
/assets/js
/assets/css

# External themes
/assets/themes
!/assets/themes/default

# Documentation
/site

# SASS
.sass-cache
