# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini

# Windows XP
ehthumbs.db

# Project npm dependencies
/node_modules

# Bower libraries
/assets/lib

# IDE
nbproject/
.idea/

# Any log file
*.log

# Build
/build

# Sass
.sass-cache

# Compiled file
/assets/js/*
/assets/css/*
/assets/themes/*
!/assets/themes/default/*
/assets/themes/default/style.css
/assets/themes/default/style.css.map

# Documentation
/site
/.grunt

# Themes Files