<script type="text/ng-template" id="opa-toolbar-action.html">

  <!-- Icon action -->
  <md-button
             ng-if="action.type === 'icon' && action.icon && action.action"
             ng-click="action.action()"
             class="md-icon-button"
             aria-label="{{action.accessibility}}"
  >
    <md-icon>{{action.icon}}</md-icon>
    <md-tooltip ng-if="action.help" md-delay="800">{{action.help}}</md-tooltip>
  </md-button>

  <!-- Text action -->
  <md-button
             ng-if="action.type === 'text' && action.label && action.action"
             ng-click="action.action()"
             ng-bind="action.label"
             aria-label="{{action.accessibility}}"
  ></md-button>

  <!-- List action -->
  <md-menu ng-if="action.type === 'list' && action.icon && action.menu">
    <md-button class="md-icon-button" aria-label="{{action.accessibility}}" ng-click="$mdMenu.open($event)">
      <md-icon>{{action.icon}}</md-icon>
      <md-tooltip ng-if="action.help" md-delay="800">{{action.help}}</md-tooltip>
    </md-button>
    <md-menu-content class="opa-toolbar-menu">
      <md-menu-item
                    ng-repeat="menuAction in action.menu"
                    ng-class="{'opa-selected': menuAction.selected}"
                    ng-if="menuAction.action && menuAction.label"
                    md-colors="menuAction.selected ? {color: 'accent-500'} : {color: 'background-900'}"
      >
        <md-button ng-click="menuAction.action(menuAction)" ng-bind="menuAction.label" aria-label="{{menuAction.accessibility}}"></md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <!-- Info action -->
  <opa-info-button
                   ng-if="action.type === 'info' && action.message"
                   opa-message="action.message"
                   opa-accessibility="{{action.accessibility}}"
                   opa-help="{{action.help}}"
  ></opa-info-button>
</script>

<md-toolbar class="opa-toolbar">
  <header class="md-toolbar-tools">

    <div ng-if="$ctrl.opaLeftActions && $ctrl.opaLeftActions.length" layout="row" flew="no" class="opa-toolbar-left-actions">
      <div ng-repeat="action in $ctrl.opaLeftActions" layout="row" ng-include="'opa-toolbar-action.html'"></div>
    </div>

    <h1 flex="auto" ng-bind="$ctrl.opaTitle"></h1>

    <div ng-if="$ctrl.opaRightActions && $ctrl.opaRightActions.length" layout="row" class="opa-toolbar-right-actions">
      <div ng-repeat="action in $ctrl.opaRightActions" layout="row" ng-include="'opa-toolbar-action.html'"></div>
    </div>

  </header>
</md-toolbar>