<nav class="opa-nav" layout="column">
  <ul>
    <li ng-repeat="item in $ctrl.opaMenu">
      <a
         ng-if="item.label && item.action"
         ng-class="{'opa-selected': item.selected}"
         ng-click="item.action(item)"
         ng-keypress="item.action(item)"
         ng-class="{'opa-selected': item.selected}"
         layout="row"
         layout-align="start center"
         md-autofocus="$index == 0"
         tabindex="0"
      >
        <md-icon flex="nogrow" ng-if="item.icon">{{item.icon}}</md-icon>
        <span flex="auto" ng-bind="item.label | opaTranslate"></span>
      </a>

      <md-divider ng-if="item.divider"></md-divider>

      <opa-actions-button
                          ng-if="item.actions && item.label"
                          opa-label="item.label"
                          opa-icon="item.icon"
                          opa-actions="item.actions"
      ></opa-actions-button>
    </li>
  </ul>
</nav>