$OPA_ACTIONS_BUTTON_FOCUSED_COLOR: #008bd6;
$OPA_ACTIONS_BUTTON_ICON_COLOR: #616161;
$OPA_ACTIONS_BUTTON_NAME_COLOR: #212121;
$OPA_ACTIONS_BUTTON_SELECTED_COLOR: #e6007e;

.opa-actions-button {

  button {
    cursor: pointer;
    @include user-select(none);
    height: 48px;
    margin: 0;
    padding: 0;
    background: none;
    text-transform: none;
    font-size: inherit;
    text-align: left;

    &.md-button:not([disabled]):hover {
      background: none;
    }

    span {

      /* On IE 10 a flex child need to be in display flex to grow or shrink */
      display: flex;

      color: $OPA_ACTIONS_BUTTON_NAME_COLOR;
    }

    /* Up / down arrow */
    & > md-icon:last-child {
      margin: 0;
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }

    md-icon {
      color: $OPA_ACTIONS_BUTTON_ICON_COLOR;
    }

    &:focus {
      md-icon, span {
        color: $OPA_ACTIONS_BUTTON_FOCUSED_COLOR;
      }
    }
  }

  .opa-actions-wrapper {
    overflow: hidden;
    height: 0px;
    margin-left: 30px;
    transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);

    a {
      cursor: pointer;
      @include user-select(none);

      &.opa-selected {
        md-icon, span {
          color: $OPA_ACTIONS_BUTTON_SELECTED_COLOR;
        }
      }

      &:focus {
        md-icon, span {
          color: $OPA_ACTIONS_BUTTON_FOCUSED_COLOR;
        }
      }

    }
  }

  &.opa-opened {

    /* Up / down arrow */
    & > button > md-icon:last-child {
      transform: rotate(180deg);
    }

  }

}