<div ng-if="$ctrl.opaLabel && $ctrl.opaActions && $ctrl.opaActions.length" class="opa-actions-button" ng-class="{'opa-opened': $ctrl.isOpened}" layout="column">
  <button layout="row" class="md-button" ng-click="$ctrl.toggleActions()" tabindex="0">
    <md-icon ng-if="$ctrl.opaIcon">{{$ctrl.opaIcon}}</md-icon>
    <span flex="grow" ng-bind="$ctrl.opaLabel"></span>
    <md-icon>keyboard_arrow_down</md-icon>
  </button>
  <div class="opa-actions-wrapper">
    <ul>
      <li ng-repeat="action in $ctrl.opaActions" ng-if="action.label && action.action" ng-class="{'opa-selected': action.selected}">
          <a
             ng-click="action.action(action)"
             ng-keypress="$ctrl.handleActionKeypress($event, action)"
             layout="row"
             layout-align="start center"
             tabindex="{{$ctrl.isOpened ? '0' : '1'}}"
             ng-class="{'opa-selected': action.selected}"
          >
            <md-icon flex="nogrow" ng-if="action.icon">{{action.icon}}</md-icon>
            <span flex="auto" ng-bind="action.label"></span>
          </a>
      </li>
    </ul>
  </div>
</div>