.opa-media-library {
  flex-grow: 1;

  .select-container {
    overflow: auto;
    flex-grow: 1;

    opa-media-select {
      flex-grow: 1;
    }

    md-progress-linear {
      position: sticky;
      bottom: 0;
    }
  }

  .md-toolbar-tools {
    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    md-input-container .md-placeholder,
    md-input-container label:not(.md-no-float):not(.md-container-ignore) {
      transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    }

    md-input-container.md-input-focused label:not(.md-no-float),
    md-input-container.md-input-has-placeholder label:not(.md-no-float),
    md-input-container.md-input-has-value label:not(.md-no-float) {
      transform: translate3d(0,28px,0) scale(1);
      -webkit-transform: translate3d(0,28px,0) scale(1);
      transition: opacity .4s cubic-bezier(.25,.8,.25,1);
      opacity: 0;
    }

    .md-input {
      border-width: 0;
    }

    .md-select-value {
      border-width: 0;
    }
  }
}
